#consultantBox{
    text-align: center;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin-right: 33%;
    margin-left: 33%;
    background-color: #99ffcc;
      
}